{{#block "header"}}
    <!doctype html>
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>SparkBlog</title>
        <link href='https://fonts.googleapis.com/css?family=Noto+Serif:400,400italic,700|Noto+Sans:700,400' rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/site.css">
    </head>
    <body>
        <div class="page">
            {{#if flashMessage}}
                <div class="message">
                    <h2 id="flash-message" align="center">{{flashMessage}}</h2>
                </div>
            {{/if}}
{{/block}}

{{#block "content"}}

{{/block}}

{{#block "footer"}}
    </div>
    </body>
    </html>
{{/block}}
