{{#partial "content"}}
    <h1>Current Ideas</h1>

    <ul>
        {{#each entry}}
            <h1>{{title}}</h1>
            <h2>{{text}}</h2>
        {{/each}}
    </ul>

    <form action="/entries" method="post">
        <input type="text" placeholder="Title" name="title">
        <input type="text" placeholder="Text" name="text">
        <button>Suggest!</button>
    </form>
{{/partial}}

{{> base.hbs}}