{{#partial "content"}}
    <body>
    <header>
        <div class="container">
            <div class="site-header">
                <a class="logo" href="/">SparkBlog</a>
                <a class="new-entry button button-round" href="/new"><i class="material-icons">create</i></a>
            </div>
        </div>
    </header>
    <section>
        <div class="container">
            {{#if username}}
                <h2 align="center" class="new-entry">Welcome {{username}}!</h2>
                <h2 align="center" class="new-entry">View <a href="/entries">all blog entries</a></h2>
            {{else}}
                <h2 align="center" class="new-entry">Welcome to SparkBLOG!</h2>

                <div class="new-entry">
                    <form action="/sign-in" method="post">
                        <label for="username">Username:</label>
                        <input type="text" name="username">
                        <label for="password">Password</label>
                        <input type="password" name="password">
                        <button class="button">Sign in</button>
                    </form>
                </div>
            {{/if}}
        </div>
    </section>
    <footer>
        <div>
            <a href="#">Contact Us</a>&nbsp;&nbsp;&bull;&nbsp;&nbsp;
            <a href="#">Terms</a>
        </div>
    </footer>
    </body>
{{/partial}}

{{>base.hbs}}