{{#partial "content"}}
    <body>
            <div class="container">
                <div class="new-entry">
                    <form action="/new" method="post">
                        <label for="title"> Title</label>
                        <input type="text" name="title"><br>
                        <label for="text">Entry</label>
                        <textarea rows="5" name="text"></textarea>
                        <input type="submit" value="Publish Entry" class="button">
                        <a href="#" class="button button-secondary">Cancel</a>
                    </form>
                </div>
            </div>

    </body>
{{/partial}}

{{> base.hbs}}