{{#partial "content"}}
    <body>
    <header>
        <div class="container">
            <div class="site-header">
                <a class="logo" href="/entries">SparkBlog</a>
                <a class="new-entry button button-round" href="public/edit.html"><i class="material-icons">create</i></a>
            </div>
        </div>
    </header>

    <div class="container">
        <h2 class="centertext">What the?!!!</h2>
        <p class="centertext">We couldn't find what you are looking for...</p>
    </div>
    </body>
{{/partial}}

{{#partial "title"}}Not found{{/partial}}

{{>base.hbs}}